* {
	-fx-font-family: Inter, sans-serif;
	-fx-border-radius: 0;
}

ClusterConnectPane, WindowHead, MainWindowPane, GridPane {
	-fx-background-color: #8b96a7;
}

.root {
	-fx-border-color: #444444;
	-fx-border-style: solid;	
}

.label {
	-fx-text-fill: #FFFFFF;
}

TopicsPane .label {
	-fx-text-fill: #444444;
}

.combo-box, .combo-box-base, .button, .text-field {
	-fx-background-color: #596475;
	-fx-text-fill: #FFFFFF;
	-fx-prompt-text-fill: #FFFFFF;
	-fx-background-radius: 0px;
}

MainWindowPane .button {
	-fx-background-color: #8b96a7;
}

MainWindowPane .button.selected {
	-fx-background-color: #596475;
}

.button:hover {
	-fx-background-color: #738196;
}

.combo-box-base .text, .combo-box-base .list-cell, .combo-box-base .list-view
	{
	-fx-fill: #FFFFFF;
	-fx-background-color: #596475;
}

.combo-box-base .list-cell:hover {
	-fx-background-color: #738196;
}